<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>
        <link href="https://bootswatch.com/4/cerulean/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <link href={{ asset('css/style.css') }} type="text/css" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        <script src="https://kit.fontawesome.com/93cda2868d.js" crossorigin="anonymous"></script>
    </head>
    <body class="d-flex flex-column" style="min-height: 100vh;">
        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
            <a href="/" class="navbar-brand">SnowTricks</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar7">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse justify-content-stretch" id="navbar7">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('index')}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('index',{'scrool': 'tricks'}) }}">Tricks</a>
                    </li>
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('trick_create')}}">Create</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('user_myAccount')}}">Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('user_logout')}}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('user_registration')}}">Sign in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('user_login')}}">Sign up</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div id="base_content" class="flex-grow-1">
            {% block body %}{% endblock %}
        </div>
        <footer>
            <div class="footer-copyright py-3 pl-3 bg-primary text-white">© 2019 Copyright :
                <a href="/" class="text-white"> SnowTricks.com</a>
            </div>
        </footer>

        <!-- JAVASCRIPTS -->
        <!-- Boostrap 4 -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>

