{% extends 'base.html.twig' %}

{% block title %}Login{% endblock title %}

{% block body %}
    <div class="container">
        <h1>Login</h1>
        
        {{ form_start(formLogin, {'attr': {'novalidate': 'novalidate'}}) }}
            {{form_row(formLogin.username, {'full_name':'_username', 'attr': {'value': last_username}, 'label':"Username or Email" })}}
            {{form_row(formLogin.password, {'full_name':'_password'})}}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button type="submit" class="btn btn-primary">Login</button>
            {% if error %}
                <p class="text-danger">incorrect credentials, try again !</p>
                {% if app.environment == 'dev' %}
                    <p>ERROR IN DEV ENVIRONMENT : {{ error.messageKey|trans(error.messageData, 'security') }}</p>
                {% endif %}
            {% endif %}
        {{ form_end(formLogin) }}
        <a href="{{ path('user_registration') }}">Register</a>
        <a href="#">Forgot password ?</a>
    </div>
{% endblock body %}