{% for comment in comments %}
    <div class="comment col-12 col-md-10 col-lg-9">
        {% if comment.user.picturePath is not null %}
            <img src="{{asset('picture/avatars/' ~ comment.user.picturePath) }}"  alt="{{comment.user.username}}'s avatar">
        {% else %}
            <img src="{{asset('picture/default_avatar.jpg')}}"  alt="{{comment.user.username}}'s avatar">
        {% endif %}
        <div>
            <strong id="comment_username" >{{comment.user.username}}</strong>
            <p>{{comment.content}}</p>
            <small>the {{comment.createdAt|date("Y/m/d \\a\\t h:i a") }}</small>
        </div>
    </div>
{% endfor %}