{% extends 'base.html.twig' %}

{% block title %}Edit the Trick{% endblock %}

{% block stylesheets %}<link href={{ asset('css/formTrick.css') }} type="text/css" rel="stylesheet">{% endblock %}

{% block body %}
    <div id="trick" class="container">
        <figure>
            {% if trick.spotlightPicturePath %}
                <img id="spotlight_picture" src="{{asset('picture/medias/' ~ trick.spotlightPicturePath) }}"  alt="{{trick.title}}">
            {% else %}
                <img id="spotlight_picture" src="{{asset('picture/defaultSpotlightPicture.jpg') }}"  alt="{{trick.title}}">
            {% endif %}
            <figcaption><h1>{{ trick.title }}</h1></figcaption>
            <div id="picture_buttons" class="d-flex flex-row">
                <a href="#" id="spotlightFileUpload" class"card-link" style="margin-right:15px">
                    <i class="fas fa-pencil-alt fa-2x"></i>
                </a>
                <a href="#" id="spotlightFileDelete" class"card-link">
                    <i class="fas fa-trash-alt fa-2x"></i>
                </a>
            </div>
        </figure>
        <div class="text-center">
            <button id="seeMedias" class="btn btn-primary">See medias</button>
        </div>
        <div id="medias_show" class="row">
            {% for media in trick.medias %}
                <div class="div-card col-12 col-md-12 col-lg-6 col-xl-4">
                    <div class="card">
                        {%  if media.urlEmbed is defined %}
                            <iframe class="card-img-top" width="500" height="300" src="{{media.urlEmbed}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        {% elseif media.path is defined %}
                            <a href="{{asset('picture/medias/' ~ media.path) }}"><img class="card-img-top" src="{{asset('picture/medias/' ~ media.path) }}"  alt="{{trick.title}}"></a>
                        {% endif %}
                        <div class="card-body text-center">
                            <a data-id="{{media.id}}" href="#" class="btn btn-danger mediaDelete">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr>
        <div class="row">
            <div id="form_div" class="col-12">
                {{ form_start(formTrick, {'attr': {'novalidate': 'novalidate'}}) }}
                    <div id="medias" class="container-fluid">
                        <ul class="videos row justify-content-center" data-prototype="{{ form_widget(formTrick.videos.vars.prototype)|e('html_attr') }}"></ul>
                        <ul class="pictures row justify-content-center" data-prototype="{{ form_widget(formTrick.pictures.vars.prototype)|e('html_attr') }}"></ul>
                    {{form_row(formTrick.videos, {'label': false})}}
                    {{form_row(formTrick.pictures, {'label': false})}}
                    </div>
                    <div class="container">
                        <div class="row d-flex justify-content-center">
                            <div class="col-12 col-md-10 col-lg-8 col-xl-6 ">
                                {{form_row(formTrick.title)}}
                                {{form_row(formTrick.description)}}
                                {{form_row(formTrick.groupTrick)}}
                                {{form_row(formTrick.spotlightDelete)}}
                                {{form_row(formTrick.mediaDelete)}}
                                <div id="buttons_form">
                                    <a href="{{ path('trick_edit', {'slug':trick.slug}) }}" class="btn btn-secondary">Cancel</a>
                                    <a href="delete" class="btn btn-danger" data-toggle="modal" data-target="#modalDeleteTrick" data-title="{{trick.title}}" data-slug="{{trick.slug}}">Delete</a>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {{ form_end(formTrick) }}
            </div>
        </div>
    </div>
    {{ include('tricks/modalDeleteTrick.html.twig') }}
{% endblock body %}

{% block javascripts %}
    <script src="{{ asset('js/modalDeleteTrick.js')}}"></script>
    <script src="{{ asset('js/mediasCollectionType.js')}}"></script>
    <script src="{{ asset('js/spotlightFileUpload.js')}}"></script>
    <script src="{{ asset('js/customInputFile.js')}}"></script>
    <script src="{{ asset('js/mediaDelete.js')}}"></script>
    <script src="{{ asset('js/seeMedias.js')}}"></script>
{% endblock javascripts %}