{% extends 'base.html.twig' %}

{% block title %}{{trick.title}}{% endblock %}
{% block stylesheets %}<link href={{ asset('css/trick.css') }} type="text/css" rel="stylesheet">{% endblock %}

{% block body %}
    <div id="trick" class="container">
        <figure>
            <img id="spotlight_picture" src="https://via.placeholder.com/400x200"  alt="...">
            <figcaption><h1>{{ trick.title }}</h1></figcaption>
            <div id="picture_buttons" class="d-flex flex-row">
                <a href="{{ path('trick_edit', {'slug':trick.slug}) }}" class"card-link" style="margin-right:15px">
                    <i class="fas fa-pencil-alt fa-2x"></i>
                </a>
                <a href="#" class"card-link">
                    <i class="fas fa-trash-alt fa-2x"></i>
                </a>
            </div>
        </figure>
        <p>Display Medias</p>
        <p id="description">{{trick.description}}</p>
        <div id="information" class="row justify-content-center">
            <p class="col-3">Groupe : {{trick.groupTrick.name}}</p>
            <p class="col-3">Créé le {{trick.createdAt|date("d/m/Y à H:i") }}</p>
            {% if trick.modifiedAt %}
                <p class="col-3">Modifié le {{trick.modifiedAt|date("d/m/Y à H:i") }}</p>
            {% endif %}
        </div>
        <hr>
        <div id="comment_form_div" class="col-12 col-md-10 col-lg-8 col-xl-6">
            {{ form_start(formComment) }}
                {{ form_errors(formComment.content) }}
                {{ form_widget(formComment.content) }}
                <button type="submit" class="btn btn-primary">Leave a comment</button>
            {{ form_end(formComment) }}

        </div>
        <hr>
        <div>
            {% for comment in trick.comments %}
                {{comment.content}}
            {% endfor %}
        </div>
    </div>
    

{% endblock %}
