{% extends 'base.html.twig' %}

{% block title %}{{trick.title}}{% endblock %}
{% block stylesheets %}<link href={{ asset('css/trick.css') }} type="text/css" rel="stylesheet">{% endblock %}

{% block body %}
    <div id="trick" class="container">
        <figure>
            <img id="spotlight_picture" src="https://via.placeholder.com/400x200"  alt="...">
            <figcaption><h1>{{ trick.title }}</h1></figcaption>
            <div id="picture_buttons" class="d-flex flex-row">
                <a href="{{ path('trick_edit', {'slug':trick.slug}) }}" class"card-link" style="margin-right:15px">
                    <i class="fas fa-pencil-alt fa-2x"></i>
                </a>
                <a href="delete" class"card-link" data-toggle="modal" data-target="#modalDeleteTrick" data-title="{{trick.title}}" data-slug="{{trick.slug}}">
                    <i class="fas fa-trash-alt fa-2x"></i>
                </a>
            </div>
        </figure>
        <p>Display Medias</p>
        <p id="description">{{trick.description}}</p>
        <div id="information" class="row justify-content-center">
            <p class="col-3">Groupe : {{trick.groupTrick.name}}</p>
            <p class="col-3">Créé le {{trick.createdAt|date("d/m/Y à H:i") }}</p>
            {% if trick.modifiedAt %}
                <p class="col-3">Modifié le {{trick.modifiedAt|date("d/m/Y à H:i") }}</p>
            {% endif %}
        </div>
        <hr>
        <div id="comment_form_div" class="col-12 col-md-11 col-lg-10 col-xl-9">
            {{ form_start(formComment, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_errors(formComment.content) }}
                {{ form_widget(formComment.content) }}
                <button type="submit" class="btn btn-primary">Leave a comment</button>
            {{ form_end(formComment) }}

        </div>
        <hr>
        <div id="comments" class="row justify-content-center">
            {% for comment in trick.comments %}
                <div class="comment col-12 col-md-10 col-lg-9">
                    <img src="https://via.placeholder.com/100x100"  alt="...">
                    <div>
                        <strong>Name</strong>
                        <p>{{comment.content}}</p>
                        <small>the {{comment.createdAt|date("Y/m/d \\a\\t h:i a") }}</small>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {{ include('tricks/modalDeleteTrick.html.twig') }}
{% endblock body %}

{% block javascripts %}
    <script src={{ asset('js/modalDeleteTrick.js')}}></script>
{% endblock  javascripts %}
